<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAlunoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAlunoLabel_nomeAluno}" for="nomeAluno" />
                    <h:inputText id="nomeAluno" value="#{alunoController.selected.nomeAluno}" title="#{bundle.CreateAlunoTitle_nomeAluno}" required="true" requiredMessage="#{bundle.CreateAlunoRequiredMessage_nomeAluno}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{alunoController.create}" value="#{bundle.CreateAlunoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{alunoController.prepareList}" value="#{bundle.CreateAlunoShowAllLink}" immediate="true"/>
                <br />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
