<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAlunoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <br />
                <h:outputText escape="false" value="#{bundle.ListAlunoEmpty}" rendered="#{alunoController.items.rowCount == 0}"/>
                <br />
                <h:panelGroup rendered="#{alunoController.items.rowCount > 0}">
                    <h:outputText value="#{alunoController.pagination.pageLastItem + 1}/#{alunoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{alunoController.previous}" value="#{bundle.Previous}" rendered="#{alunoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{alunoController.next}" value="#{bundle.Next}" rendered="#{alunoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{alunoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="width:35%;border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlunoTitle_idAluno}"/>
                            </f:facet>
                            <h:outputText value="#{item.idAluno}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlunoTitle_nomeAluno}"/>
                            </f:facet>
                            <h:outputText value="#{item.nomeAluno}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Ações"/>
                            </f:facet>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{alunoController.prepareEdit}" value="#{bundle.ListAlunoEditLink}"/>&nbsp;&nbsp;
                            <h:outputText value=" "/>
                            <h:commandLink action="#{alunoController.destroy}" value="#{bundle.ListAlunoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{alunoController.prepareCreate}" value="#{bundle.ListAlunoCreateLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
