root { 
    display: block;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #203135;
    background-color: #F3F3F3;
    font-size: small;
}

a {
    color: #2C19BB;
    text-decoration: none;
}

table {
    empty-cells: show;
}

form.jsfcrud_list_form th, td th {
    font-size: small;
    color: #282B3C;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #B2B5D6;
    border-bottom-color: #B2B7D6;
    border-left-color: #A290BD;
    border-right-color: #9094BD;
    letter-spacing: 3px;
    text-align: left;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #ADCBFF;
}

td {
    padding-bottom: 8px;
    font-size: small;
}

table td:first-child {
    width: 12%;
}

table td + td + td  {
    width: 18%;
    text-align: right;
}

form.jsfcrud_list_form td, td td {
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-color: #B2B5D6;
    border-bottom-color: #B2B9D6;
    border-left-color: #B2B8D6;
    border-right-color: #B9B2D6;
    vertical-align: baseline;
    padding: 5px;
}

tr.jsfcrud_odd_row {
    background-color: #fefeff;
    color: #4e6a71;
}


tr.jsfcrud_even_row {
    background-color: #eff5fa;
    color: #4e6a71;
}

#busyImage {
    position: absolute;
    left: 50%;
    top: 50%;
}
